<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>
<appSettings>
    <!--应用程序标题名称-->
    <add key="app_name" value="平板电脑信息收集工具"/>
  
    <!--为true则读取并提交WIFI MAC地址，否则为false-->
    <add key="enable_wifi_mac_address" value="true"/>

    <!--为true则读取并提交蓝牙 MAC地址，如果不带蓝牙功能设为false-->
    <add key="enable_bluetooth_mac_address" value="true"/>

    <!--为true则读取并提交IMEI号，如果不带3G模块设为false-->
    <add key="enable_imei" value="false"/>

    <!--数据库服务器网络地址，格式为：[主机名(IP/域名)]\[数据库实例名称],[TCP端口号]-->  
    <add key="db_host" value="127.0.0.1\sqlexpress,1433"/>
  
    <!--数据库名称-->
    <add key="db_name" value="Hampoo_WinKey"/>
  
    <!--数据库用户名-->
    <add key="db_user" value="sa"/>
  
    <!--数据库密码-->
    <add key="db_password" value="123456"/>
    
    <!--数据库类型，支持SQLServer/OleDb/ODBC/Oracle四种类型-->
    <add key="db_type" value="SQLServer"/>
    
    <!--数据库用户验证模式，true为Windows集成用户验证，false为数据库内置用户-->
    <add key="db_integrated_security" value="false"/>
    
</appSettings>
</configuration>